
.idea/
venv/

__pycache__/utils.cpython-36.pyc

radarcoverage/__pycache__/file_utils.cpython-36.pyc

radarcoverage/__pycache__/geometry.cpython-36.pyc

radarcoverage/__pycache__/plot_utils.cpython-36.pyc

docs/build/

*.ogeom

radarcoverage.egg-info/

radarcoverage/scripts/__pycache__/

radarcoverage/__pycache__/

*.pyc

*.so

*.o

build/

.pytest_cache/
/raytracing.egg-info/

raytracing/__pycache__/
.packages.json
.uninstalled_packages.txt
env/

data/dummy.json

data/problem.json

data/small.geojson

data/TutorialTest/sciences.geojson

raytracing/dataframe.geojson

raytracing/sciences_sampled.geojson
