
.idea/
venv/

__pycache__/utils.cpython-36.pyc

radarcoverage/__pycache__/file_utils.cpython-36.pyc

radarcoverage/__pycache__/geometry.cpython-36.pyc

radarcoverage/__pycache__/plot_utils.cpython-36.pyc

docs/build/

*.ogeom

radarcoverage.egg-info/

radarcoverage/scripts/__pycache__/

radarcoverage/__pycache__/

*.pyc

*.so

*.o
